<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv = "Content-Type" content = "multipart / form-data; charset = utf-8" />
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="/css/normalize.css">

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<!--<link rel="stylesheet" href="/src/main/resources/static/css/index.css" /> -->		
		
		 <link rel="stylesheet" href="/css/index - forms.css" />	
		 <link rel="stylesheet" href="/css/index.css" />
		 		

		 
		<title>WorkMerge | Datos Cliente</title>
	</head>

	<body>

		<nav class="navbar navbar-light">

			<div class="container-fluid" style="display:flex">

			  <!--href /index-->
				<a class="navbar-brand" href="/">

				<!-- src="/src/main/resources/static/img/LogoColor.png" -->
				<!--src= "../static/img/LogoColor.png"-->
					<img src="/img/LogoColor.png" 
					  alt="WM" 
					  width="90" 
					  height="90"                   

					 /> <!-- class="d-inline-block align-text-top" -->
					<span class="titulo">WorkMerge</span>
	
				</a>
				</div>
			</div>
		</nav>


		<div class="container col-5">
			<div class="card mt-5">
				<div class="card-header d-flex">
					<h1>Ingrese sus datos</h1>
				</div>
				<div class="card-body">
					<form 
						th:action="@{/client/saveCv/{id}(id=${cliente.id})}" 
						method="POST" 
						class="col-9 mx-auto"
					>
						<!--<input hidden th:field="*{id}" />-->

						<div class="mb-3">
							<label for="nombre" class="form-label">Nombre</label>
							<input
								type="text"
								class="form-control"

								name="nombre"							
								placeholder="Nombre"							

							/><!-- th:field="*{name}" -->
						</div>
						<div class="mb-3">
							<label for="apellido" class="form-label">Apellido</label>
							<input
								type="text"
								class="form-control"								
								name="apellido"
								placeholder="Apellido"
							/>
						</div><!-- th:field="*{surname}" -->

						<div class="mb-3">
							<label for="dni" class="form-label">DNI</label>
							<input 
								type="text" 
								class="form-control" 
								name="dni"								
								placeholder="123456789"
							/><!-- th:field="*{dni}" -->
						</div>

						<div class="dropdown">
							<label for="genero" class="form-label">Genero</label>
							<select class="form-select" name="genero">
								<option th:each="genero : ${T(com.WorkMerge.enums.Gender).values()}"
            								th:value="${genero}"
            								th:text="${genero.getValue}"            								
            								>            								       								
    								</option>
							</select>
						</div>
						<br />
						<div class="dropdown">
							<label for="nacionalidad" class="form-label">Nacionalidad</label>
							<select class="form-select" name="nacionalidad">
								<option th:each="nacionalidad : ${T(com.WorkMerge.enums.Nationality).values()}"
            								th:value="${nacionalidad}"
            								th:text="${nacionalidad.getValue}"            								
            								>            								       								
    							</option>
							</select>
						</div>
						<br />
						<div class="dropdown">
							<label for="ciudad" class="form-label">Ciudad</label>
							<select class="form-select" name="ciudad">
								<option th:each="ciudad : ${T(com.WorkMerge.enums.City).values()}"
            								th:value="${ciudad}"
            								th:text="${ciudad.getValue}"            								
            								>            								       								
    							</option>
							</select>
						</div>
						<br />

						<div class="mb-3">
							<label for="domicilio" class="form-label">Domicilio</label>
							<input
								type="text"
								class="form-control"								
								name="domicilio"
								placeholder="Domicilio"
							/><!-- th:field="*{address}" -->
						</div>
						<div class="mb-3">
							<label for="Fechadenacimiento" class="form-label">Fecha de nacimiento</label>
							<input
								type="text"
								class="form-control"								
								name="fecha"
								placeholder="Fecha de nacimiento"
							/><!-- th:field="*{birthday}" -->
						</div>
						<div class="mb-3">
							<label for="telefono" class="form-label">Teléfono</label>
							<input
								type="text"
								class="form-control"								
								name="telefono"
								placeholder="123 456 789"
							/><!-- th:field="*{phone}" -->
						</div>
						<div class="mb-3">
							<label for="educacion" class="form-label">Educación</label>
							<textarea
								cols="50"
								rows="3"
								class="form-control"								
								placeholder="Ingrese sus últimos estudios alcanzados..."
								name="educacion"
							></textarea><!-- th:field="*{education}" -->
						</div>
						<div class="mb-3">
							<label for="experienciaLaboral" class="form-label">Experiencia laboral</label>
							<textarea
								cols="50"
								rows="3"
								class="form-control"								
								placeholder="Ingrese su última experiencia laboral..."
								name="experienciaLaboral"
							></textarea><!-- th:field="*{workexperience}" -->
						</div>
						<div class="mb-3">
							<label for="idiomas" class="form-label">Idiomas</label>
							<textarea
								cols="50"
								rows="3"
								class="form-control"								
								placeholder="Idiomas..."
								name="idiomas"
							></textarea><!-- th:field="*{language}" -->
						</div>
						<div class="mb-3">
							<label for="habilidadesInformáticas" class="form-label"
								>Habilidades informáticas</label
							>
							<textarea
								cols="50"
								rows="3"
								class="form-control"								
								placeholder="Ingrese sus habilidades..."
								name="habilidadesInformáticas"
							></textarea><!-- th:field="*{skills}" -->
						</div>
						<button type="submit" class="btn btn-dark px-4 py-2 ms-auto">Guardar</button>
					</form>
				</div>
			</div>
		</div>
		<br />
		<br />
		<footer>
			<div class="container-fluid">
				<div class="contenedor">
				<img class="loguito" src="/img/isovalenteLogo.png" width="50" height="50">
					<h2 class="título-sección">WorkMerge</h2>
				</div>
				<div class="redes-sociales">
					<i class="fab fa-twitter"></i> <i class="fab fa-facebook-f"></i>
					<i class="fab fa-youtube"></i>
				</div>
				<div class="contenedor">
					<small class="copy"> WorkMerge 2021/Todos los derechos reservados</small>
					<address class="copy2" style="text-align: center;">Argentina</address></small>
				</div>
				<div class="contenedor"><a th:href="@{/admin}" class="btn btn-danger">Admins entry </a></div>

			</div>
		</footer>

		<script src="https://kit.fontawesome.com/bdbed0aafa.js" crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>

		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
	</body>
</html>
