<!DOCTYPE html>

<html
	lang="es"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/normalize.css">
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/index.css" />

		<title>WorkMerge | Nuevo Empleo</title>
	</head>
	<body>
		<nav class="navbar navbar-light">
			<div class="container-fluid">
				<div class="d-flex align-items-center">
					<a class="navbar-brand" href="/">
						<img
							src="/img/LogoColor.png"
							alt="WM"
							width="90"
							height="90"
							class="d-inline-block"
						/>
						<span class="titulo">WorkMerge </span>
					</a>
				</div>
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-outline-light me-md-2">Cerrar sesión</a>
					<a th:href="@{/company/perfil/}+${session.usersession.id}" class="btn btn-warning">Volver a mi perfil </a>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="card mt-md-2">
				<div class="card-header d-flex">
					<h1>Crear anuncio</h1>
				</div>
				<div class="card-body">
					<form
						th:action="@{/company/saveJob/{id}(id=${company.id})}"
						class="col-6 mx-auto"
						method="POST"
					>
						<div class="mb-3">
							<label for="titulo" class="form-label">Titulo</label>
							<input type="text" class="form-control" name="titulo" placeholder="Titulo" />
						</div>
						<!-- <div class="mb-3">
							<label for="fechadepost" class="form-label">Fecha de posteo</label>
							<input type="text" class="form-control" name="fecha" placeholder="Fecha de posteo" />
						</div> -->
						<div class="mb-3">
							<label for="disponibilidad" class="form-label">Disponibilidad</label>
							<input
								type="text"
								class="form-control"
								name="disponibilidad"
								placeholder="Disponibilidad"
							/>
						</div>
						<div class="mb-3">
							<label for="categoria" class="form-label">Categoría</label>
							<input type="text" class="form-control" name="categoria" placeholder="Categoría" />
						</div>
						<div class="mb-3">
							<label for="descripción" class="form-label">Descripción</label>
							<input
								type="text"
								class="form-control"
								name="descripcion"
								placeholder="Descripción"
							/>
						</div>
						<div class="mb-3">
							<label for="salario" class="form-label">Salario</label>
							<input type="text" class="form-control" name="salario" placeholder="Salario" />
						</div>
						<div class="mb-3">
							<label for="experienciarequerida" class="form-label">Experiencia requerida</label>
							<input
								type="text"
								class="form-control"
								name="experiencia"
								placeholder="Experiencia requerida"
							/>
						</div>

						<button type="submit" class="btn btn btn-dark btn-sm">Guardar</button>
					</form>
				</div>
				<br />
			</div>
		</div>
		<br />

		<footer class="container-fluid">
			<div class="contenedor">
				<div class="d-flex align-items-center">
					<img src="/img/isovalenteLogo.png" width="50" height="50" />
					<h2 class="titulo-seccion">WorkMerge</h2>
				</div>
			</div>
			<div class="redes-sociales">
				<i class="fab fa-twitter"></i>
				<i class="fab fa-facebook-f"></i>
				<i class="fab fa-youtube"></i>
			</div>
			<div class="contenedor">
				<small class="copy"> WorkMerge 2021/Todos los derechos reservados</small>
				<address class="copy">Argentina</address>
			</div>
		</footer>
	</body>
