<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
    <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/normalize.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--<link rel="stylesheet" href="../css/index.css" />-->
    <link rel="stylesheet"  href="../css/index.css" />
    <!-- <link rel="stylesheet" href="/src/main/resources/static/css/index.css"-->
    

    <title>WorkMerge | Registro Empresa</title>
  </head>

<body>

    
  <nav class="navbar navbar-light">
    <div class="container-fluid" style="display:flex">
      <!-- href="/index">-->
        <a class="navbar-brand" href="/">
        <!-- src="/src/main/resources/static/img/LogoColor.png" -->
            <img 
              src="../img/LogoColor.png" 
              alt="WM" 
              width="90" 
              height="90"                   
             /> <!-- class="d-inline-block align-text-top" -->
            <span class="titulo">WorkMerge</span>

        </a>
    </div>
</nav>

    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="card mt-5 mb-5">
            <div class="card-header d-flex">
              <h1>Registrarse con sus datos</h1>
            </div>
            
              <form th:action="@{/company/save}" class="px-4 py-3" method="POST">
                  <div class="card-body">
                <div class="mb-3">
                  <label for="correoElectronico" class="form-label"
                    >Correo Electrónico:</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    placeholder="email@ejemplo.com"
                  />
                </div>
                <div class="mb-3">
                  <label for="contraseña" class="form-label">Contraseña:</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    placeholder="********"
                  />
                </div>
                <div class="mb-3">
                  <label for="contraseña2" class="form-label">Repita su contraseña:</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password2"
                    placeholder="********"
                  />
                </div>
                

                <br>
                  <button type="submit" class="btn btn-dark">
                    Registrarme
                  </button>
                </div>
              </form>
          </div>
        </div>
        <div class="col-6 mt-5">
        <!-- src="/src/main/resources/static/img/vale.jpg" -->
        <!--src="../img/vale.jpg"-->
            <img
             src="../img/vale.jpg"
            alt=""
            width="600"
            height="400"
            >
        </div>
      </div>
    </div>





    <footer class="container-fluid">
      <div class="contenedor">
        <!-- src="../static/img/isovalenteLogo.png"-->
              <img class="loguito" src="../img/isovalenteLogo.png" width="50" height="50">
              <h2 class="titulo-seccion">WorkMerge</h2>
      </div>
      <div class="redes-sociales">
          <i class="fab fa-twitter"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-youtube"></i>

        </div>
        <div class="contenedor">
          <small class="copy">
            WorkMerge 2021/Todos los derechos reservados</small>
        </div>
        <div align="center"><address class="copy">Argentina</address></div>
        <div class="contenedor"><a th:href="@{/admin}" class="btn btn-danger">Admins entry </a></div>

      </div>
    
  </footer>

    <script
      src="https://kit.fontawesome.com/bdbed0aafa.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
  </body>
</html>