<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/index.css">
    

    <title>WorkMerge | Centro de control Trabajos</title>

</head>

<body>
    <nav class="navbar navbar-light">
		<div class="container-fluid" style="display:flex">
			<a class="navbar-brand" href="/">
				<!-- src="/src/main/resources/static/img/LogoColor.png" -->
				<!--src= "../static/img/LogoColor.png"-->
				<img src="../img/LogoColor.png" alt="WM" width="90" height="90" />
				<!-- class="d-inline-block align-text-top" -->
				<span class="titulo">WorkMerge</span>
			</a>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
		
			<a href="/admin" class="btn btn-dark px-5 py-2 ms-auto">Inicio</a>
            <a th:href="@{/admin/adminClientes}" class="btn btn-warning">Tabla clientes</a>
            <a th:href="@{/admin/adminEmpresas}" class="btn btn-warning">Tabla empresas</a>
            <a th:href="@{/admin/adminTrabajos}" class="btn btn-warning">Tabla trabajos</a>
			<a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="btn btn-outline-light me-md-2">Iniciar sesión</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-outline-light me-md-2">Cerrar sesión</a>
        </div>    
		</div>
	</nav>
                
<section>  
    <div class="container">
        <!--<p th:if="${error}" th:text="${error}" style="color:red;">Ocurrio un error</p>
         muestra el texto si existe el objeto error, x eso no hace falta poner !=null-->
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
            <span th:text="${error}"></span>
            <!--va span en vez de p xq p hace un salto de linea y queda mas ancho el cartel-->
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:if="${success}" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            <span th:text="${success}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="card mt-3">
            
                <div class="card-header d-flex">
                  <h1>Postulaciones</h1>
                  <!-- <button class="btn-dark px-5 py-2 ms-auto"> -->
                    <!--ms-auto es p alineac del boton-->
                    
                    <!-- <a href="/src/main/resources/templates/admin/MainAdmin.html">Inicio</a> -->
                    <!--le cambie el persona/form y el boton de crear persona-->
                </button>
                </div>
                <div class="card-body">
                  <form class="row g-3" th:action="@{/admin/adminTrabajos}" method="POST">
                    <div class="col">
                      <input type="text" style="width: 100%;" class="form-control"  name="search" required placeholder="Buscar..">
                    </div>
                    <div class="col-2">
                      <a th:href="@{/admin/adminTrabajos}" class="btn btn-dark mb-3" type="submit">Buscar</a>
                    </div>
                  </form>
                  <table class="table table-success table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Numero</th>
                        <th>Id</th>
                        <th>Título</th>
                        <th>Fecha posteo</th>
                        <th>Disponibilidad</th>
                        <th>Categoría</th>
                        <th>Descripción</th>
                        <th>Salario</th>
                        <th>Experiencia Req</th>
                        <th>Activo</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="t, iterator : ${jobs}">
                        <td th:text="${iterator.index+1}"></td>
                        <td th:text="${t.id}"></td>
                        <td th:text="${t.titulo}"></td>
                        <td th:text="${t.fechadepost}"></td>
                        <td th:text="${t.disponibilidad}"></td>
                        <td th:text="${t.categoria}"></td>
                        <td th:text="${t.descripcion}"></td>
                        <td th:text="${t.salario}"></td>
                        <td th:text="${t.experienciarequerida}"></td>
                        <td th:text="${t.activo}"></td>
                        <td>
                          
                            <a
                              th:href="@{/company/eliminarTrabajo/{id}(id=${t.id})}"
                              class="btn btn btn-primary btn-sm px-2 py-2"
                              >Eliminar</a>
                         
                        </td>
                      </tr>
                    </tbody>
                    <p th:if="${jobs.isEmpty()}">No hay anuncios para mostrar.</p>
                  </table>
                </div>
              </div>
            
</table>
</section>  


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="container-fluid">
    <div class="contenedor">

        <!--"../static/img/isovalenteLogo.png"-->
        <img class="loguito" src="/img/isovalenteLogo.png" width="50" height="50">
        <h2 class="titulo-seccion">WorkMerge</h2>
    </div>
    <div class="redes-sociales">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-youtube"></i>
    </div>
    <div class="contenedor">
        <small class="copy"> WorkMerge 2021/Todos los derechos reservados.
            <address class="copy2" align="center">Argentina</address>
        </small>
    </div>
    <div class="contenedor"><a th:href="@{/admin}" class="btn btn-danger">Admins entry </a></div>
</footer>

<script src="https://kit.fontawesome.com/bdbed0aafa.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

</body>

</html>

